body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:270px;
  width:343px;
  height:59px;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:280px;
  width:39px;
  height:35px;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:288px;
  width:19px;
  height:19px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:329px;
  width:343px;
  height:59px;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:339px;
  width:39px;
  height:35px;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:347px;
  width:19px;
  height:19px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:388px;
  width:343px;
  height:59px;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:398px;
  width:39px;
  height:35px;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:406px;
  width:19px;
  height:19px;
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:447px;
  width:343px;
  height:59px;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:457px;
  width:39px;
  height:35px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:465px;
  width:19px;
  height:19px;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:19px;
  width:69px;
  height:33px;
  color:#FFFFFF;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:19px;
  width:69px;
  height:33px;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:26px;
  width:19px;
  height:19px;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:59px;
  width:343px;
  height:34px;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:66px;
  width:64px;
  height:21px;
  font-size:14px;
  color:#949494;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:506px;
  width:343px;
  height:59px;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:516px;
  width:39px;
  height:35px;
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:524px;
  width:19px;
  height:19px;
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:565px;
  width:343px;
  height:59px;
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:575px;
  width:39px;
  height:35px;
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:583px;
  width:19px;
  height:19px;
}
#u393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:211px;
  width:343px;
  height:59px;
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:221px;
  width:39px;
  height:35px;
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:229px;
  width:19px;
  height:19px;
}
#u396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:152px;
  width:343px;
  height:59px;
}
#u397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:162px;
  width:39px;
  height:35px;
}
#u398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:170px;
  width:19px;
  height:19px;
}
#u399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:93px;
  width:343px;
  height:59px;
}
#u400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:103px;
  width:39px;
  height:35px;
}
#u401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:111px;
  width:19px;
  height:19px;
}
#u402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:97px;
  width:81px;
  height:27px;
}
#u403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:124px;
  width:104px;
  height:24px;
  color:#949494;
}
#u404_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:158px;
  width:81px;
  height:27px;
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:185px;
  width:104px;
  height:24px;
  color:#949494;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:219px;
  width:90px;
  height:27px;
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:246px;
  width:104px;
  height:24px;
  color:#949494;
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:274px;
  width:81px;
  height:27px;
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:301px;
  width:104px;
  height:24px;
  color:#949494;
}
#u410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:335px;
  width:81px;
  height:27px;
}
#u411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:362px;
  width:104px;
  height:24px;
  color:#949494;
}
#u412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:396px;
  width:90px;
  height:27px;
}
#u413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:423px;
  width:104px;
  height:24px;
  color:#949494;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:451px;
  width:63px;
  height:27px;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:478px;
  width:104px;
  height:24px;
  color:#949494;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:512px;
  width:63px;
  height:27px;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:539px;
  width:104px;
  height:24px;
  color:#949494;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:567px;
  width:81px;
  height:27px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:594px;
  width:104px;
  height:24px;
  color:#949494;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
