body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:61px;
  width:71px;
  height:32px;
  font-size:16px;
  color:#999999;
}
#u290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:1px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:92px;
  width:35px;
  height:1px;
}
#u291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:61px;
  width:71px;
  height:32px;
  font-size:16px;
  color:#999999;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:103px;
  width:375px;
  height:1px;
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:67px;
  width:28px;
  height:21px;
}
#u294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:603px;
  width:30px;
  height:30px;
}
#u295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:603px;
  width:30px;
  height:30px;
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:603px;
  width:30px;
  height:30px;
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:603px;
  width:30px;
  height:30px;
}
#u298_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:633px;
  width:32px;
  height:26px;
}
#u299_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:633px;
  width:32px;
  height:26px;
}
#u300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:633px;
  width:32px;
  height:26px;
}
#u301_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:633px;
  width:32px;
  height:26px;
}
#u302_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:592px;
  width:375px;
  height:1px;
}
#u303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:184px;
  width:300px;
  height:300px;
}
#u304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
